*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    padding: 5px;
}

.container {
    background-color: rgb(216, 212, 212);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}

.content{
    padding: 20px;
}

header {
    background-color: rgb(216, 212, 212);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    position: sticky;
    top: 0;
}

nav {
    position: sticky;
    top: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 600;
    z-index: 1001;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

/* Nav List Desktop */
nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    padding: 3px 0;
    margin: 0.4em;
}

nav ul li a:hover {
    border-bottom: 1px solid white;
    color: white;
}

/* Class tambahan untuk JavaScript */
.mobile-mode {
    justify-content: center !important;
    /* Memaksa logo ke tengah */
}

/* Menyembunyikan menu saat mode mobile */
.hide-menu {
    display: none !important;
}